{% extends 'base.html.twig' %}

{% block title %}Categorie #{{ category.name }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">{{ category.name}}</h1>
		</div>
		{% for program in programs %}

			<div class="media-body">
				<h1 class="mt-0">{{ program.title }}
					n°{{ program.id}}</h1>
				<p>{{ program.synopsis }}</p>
				<p>
					<a href="{{ path("program_show", {program : program.id}) }}">Voir la fiche</a>
				</p>

			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}

	</div>
</div>

<a href="{{ path('category_index') }}">
	Retour à la liste des categories
</a>{% endblock %}
