{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">Saison n°{{ season.number }}</h1>
			<h2 class="mt-0">Episode n°{{ episode.number }}</h2>
			<p>Titre de l'épisode:</p>
			<p>
				{{ episode.title |capitalize }}</p>
			<p>Résumé de l'épisode:</p>
			<p>
				{{ episode.synopsis }}</p>
			<p></p>
			<p></p>
			{% if app.user %}

				<p>Laisser un commentaire :
				</p>
			{% endif %}
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
