{% extends 'base.html.twig' %}

{% block title %}Série #{{ season.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">Saison n°{{ season.number }}</h1>
			<p>Année de sortie:
				{{ season.year }}</p>

			<h2>Liste des épisodes:</h2>
			{% for episode in season.episodes %}
				<li>{{ episode.title }}</li>
				<p>
					<a href="{{ path("program_episode_show", { programId: program.id, seasonId: season.id, episodeId: episode.id }) }}">Détail</a>
				</p>
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
